.c-object-chip {
	background-color: #000;
	
	&--5 {
		background-image: url(chip5.png);
	}
	
	&--26 {
		background-image: url(chip26.png);
	}
	
	&--27 {
		background-image: url(chip27.png);
	}
	
	&--38 {
		background-image: url(chip38.png);
	}
	
	&--39 {
		background-image: url(chip39.png);
	}
}
