.c-object-food {
	background-color: #eee;
	border-color: #ccc;
	border-radius: 20px 20px 5px 5px;
	
	&--rotate-m1 {
		transform: rotate(-22.5deg)
	}
	
	&--rotate-m2 {
		transform: rotate(-45deg)
	}
	
	&--rotate-m3 {
		transform: rotate(-67.5deg)
	}
	
	&--rotate-m4 {
		transform: rotate(-90deg)
	}
	
	&--rotate-m5 {
		transform: rotate(-112.5deg)
	}
	
	&--rotate-m6 {
		transform: rotate(-135deg)
	}
	
	&--rotate-m7 {
		transform: rotate(-157.5deg)
	}
	
	&--rotate-m8 {
		transform: rotate(-180deg)
	}
	
	&--rotate-m9 {
		transform: rotate(-202.5deg)
	}
	
	&--rotate-m10 {
		transform: rotate(-225deg)
	}
	
	&--rotate-m11 {
		transform: rotate(-247.5deg)
	}
	
	&--rotate-m12 {
		transform: rotate(-270deg)
	}
	
	&--rotate-m13 {
		transform: rotate(-292.5deg)
	}
	
	&--rotate-m14 {
		transform: rotate(-315deg)
	}
	
	&--rotate-m15 {
		transform: rotate(-337.5deg)
	}
	
	&--rotate-1 {
		transform: rotate(22.5deg)
	}
	
	&--rotate-2 {
		transform: rotate(45deg)
	}
	
	&--rotate-3 {
		transform: rotate(67.5deg)
	}
	
	&--rotate-4 {
		transform: rotate(90deg)
	}
	
	&--rotate-5 {
		transform: rotate(112.5deg)
	}
	
	&--rotate-6 {
		transform: rotate(135deg)
	}
	
	&--rotate-7 {
		transform: rotate(157.5deg)
	}
	
	&--rotate-8 {
		transform: rotate(180deg)
	}
	
	&--rotate-9 {
		transform: rotate(202.5deg)
	}
	
	&--rotate-10 {
		transform: rotate(225deg)
	}
	
	&--rotate-11 {
		transform: rotate(247.5deg)
	}
	
	&--rotate-12 {
		transform: rotate(270deg)
	}
	
	&--rotate-13 {
		transform: rotate(292.5deg)
	}
	
	&--rotate-14 {
		transform: rotate(315deg)
	}
	
	&--rotate-15 {
		transform: rotate(337.5deg)
	}
}
