.c-object-stone {
	background-color: #eee;
	border-color: #ccc;
	border-radius: 20px;
	
	&--rotate-m1 {
		transform: rotate(-11.25deg)
	}
	
	&--rotate-m2 {
		transform: rotate(-22.5deg)
	}
	
	&--rotate-m3 {
		transform: rotate(-33.75deg)
	}
	
	&--rotate-m4 {
		transform: rotate(-45deg)
	}
	
	&--rotate-m5 {
		transform: rotate(-56.25deg)
	}
	
	&--rotate-m6 {
		transform: rotate(-67.5deg)
	}
	
	&--rotate-m7 {
		transform: rotate(-78.75deg)
	}
	
	&--rotate-m8 {
		transform: rotate(-90deg)
	}
	
	&--rotate-m9 {
		transform: rotate(-101.25deg)
	}
	
	&--rotate-m10 {
		transform: rotate(-112.5deg)
	}
	
	&--rotate-m11 {
		transform: rotate(-123.75deg)
	}
	
	&--rotate-m12 {
		transform: rotate(-135deg)
	}
	
	&--rotate-m13 {
		transform: rotate(-146.25deg)
	}
	
	&--rotate-m14 {
		transform: rotate(-157.5deg)
	}
	
	&--rotate-m15 {
		transform: rotate(-168.75deg)
	}
	
	&--rotate-1 {
		transform: rotate(11.25deg)
	}
	
	&--rotate-2 {
		transform: rotate(22.5deg)
	}
	
	&--rotate-3 {
		transform: rotate(33.75deg)
	}
	
	&--rotate-4 {
		transform: rotate(45deg)
	}
	
	&--rotate-5 {
		transform: rotate(56.25deg)
	}
	
	&--rotate-6 {
		transform: rotate(67.5deg)
	}
	
	&--rotate-7 {
		transform: rotate(78.75deg)
	}
	
	&--rotate-8 {
		transform: rotate(90deg)
	}
	
	&--rotate-9 {
		transform: rotate(101.25deg)
	}
	
	&--rotate-10 {
		transform: rotate(112.5deg)
	}
	
	&--rotate-11 {
		transform: rotate(123.75deg)
	}
	
	&--rotate-12 {
		transform: rotate(135deg)
	}
	
	&--rotate-13 {
		transform: rotate(146.25deg)
	}
	
	&--rotate-14 {
		transform: rotate(157.5deg)
	}
	
	&--rotate-15 {
		transform: rotate(168.75deg)
	}
}

